/* Card.module.css */
.card {
  width: 295px;
  height: 145px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  margin-right: 20px;
  padding: 40px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.cardTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.cardContent {
  font-size: 14px;
  color: #555;
}
