/* QuizTable.module.css */
.tableContainer {
  width: 100%;
}

.quizTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.quizTable th,
.quizTable td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.quizTable th {
  background-color: #f2f2f2;
}

.iconButton {
  cursor: pointer;
  margin-right: 10px;
}

.linkButton {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
