/* TimerInputComponent.module.css */

.timerSelectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.timerButton {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border: none;
}

.selected {
  /* Style for the selected timer button */
  background: #d60000;
  color: #fff;
}

/* Customize the styles as needed */
