.registrationContainer {
  text-align: center;
  background-color: #fff;
  border: none;
  min-width: 1066px;
  min-height: 611px;
  width: 84%;
  height: 74%;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0px 0px 30px 0px #00000026;
  overflow: hidden;
  margin: 0;
}

.formHeading {
  font-size: 100px;
  font-family: jomhuria, sans-serif;
  color: #474444;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  margin-top: 45px;
  margin-bottom: 20px;
}

.toggleButtons {
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
  gap: 150px;
}

.toggleButton {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  background-color: #fff;
  border: none;
  padding: 5px;
  color: #474444;
  font-size: 20px;
}

.toggleButton.active {
  min-width: 217px;
  width: 14%;
  min-height: 37px;
  height: 3%;
  padding: 5px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 50px 0px #0019ff3d;
}

.form {
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 0px 0px;
  min-width: 606px;
  min-height: 245px;
  width: 60%;
  height: 45%;
  margin: 0 230px 230px;
  justify-content: center;
}

.formGroup {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
  gap: 31px;
}

.formLabel {
  flex: 3;
  margin-right: 10px;
  text-align: right;
  font-size: 20px;
  width: 120px;
  font-family: poppins, sans-serif;
}

.formInput {
  flex: 3;
  background-color: #f4f4f4;
  box-sizing: border-box;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 388px;
  height: 38px;
  flex-shrink: 0;
  border: none;
  padding-left: 10px;
}

.formInputError {
  border: 1px solid #d60000;
}

.formInput::placeholder {
  font-family: Poppins, sans-serif;
  background-color: #f4f4f4;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.formButton {
  font-family: Poppins, sans-serif;
  color: #474444;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  align-self: center;
  padding: 0px 10px;
  cursor: pointer;
  border: none;
  background-color: #a9bcff;
  border-radius: 5px;
  min-width: 274px;
  min-height: 38px;
  width: 15%;
  height: 5%;
  margin-left: 150px;
}
