.answersColumnContainer {
  display: block;
  justify-self: left;
}

.choiceItem {
}

.answerEditor {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.circularCheckboxContainer {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.checkboxOption {
  display: flex;
  width: 296px;
  height: 50px;
  border-radius: 10px;
  border: 0;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 500;
  word-wrap: break-word;
  color: #9f9f9f;
  background-color: #fff;
}

.addOptionBtn {
  display: flex;
  width: 296px;
  height: 50px;
  border-radius: 10px;
  margin-right: 40px;
  margin-left: 40px;
  border: 0;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 500;
  word-wrap: break-word;
  color: #9f9f9f;
  background-color: #fff;
}

.removeChoiceBtn {
  margin-left: 10px;
  background-color: #fff;
  padding: 5px;
  cursor: pointer;
  color: #ff6b6b;
  border: none;
  border-radius: 4px;
}

.answerInputEditor {
  display: flex;
  width: 296px;
  height: 50px;
  border-radius: 10px;
  border: 0;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 500;
  word-wrap: break-word;
  color: #9f9f9f;
  background-color: #fff;
  padding-left: 20px;
  margin-right: 20px;
}

.answerInputEditorShort {
  display: flex;
  width: 180px;
  height: 50px;
  border-radius: 10px;
  border: 0;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 500;
  word-wrap: break-word;
  color: #9f9f9f;
  background-color: #fff;
  padding-left: 20px;
}

.answerInputEditorShortImage {
  display: flex;
  width: 255px;
  height: 50px;
  border-radius: 10px;
  border: 0;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 500;
  word-wrap: break-word;
  color: #9f9f9f;
  background-color: #fff;
  padding-left: 20px;
}

.correctAnswerRadio {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 20px;
  align-self: center;
}
.correctAnswer {
  background-color: #60b84b;
  color: white;
}
.radioDot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #60b84b;
  display: inline-block;
}

.choiceItemPoll {
  margin-left: 40px;
}
