@import url("https://fonts.googleapis.com/css2?family=Jomhuria&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins");

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
