@import url("https://fonts.googleapis.com/css2?family=Jomhuria&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}
