/* quizCard.module.css */

.quizCard {
  display: flex;
  width: 181px;
  flex-direction: row;
  height: 62px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fff;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px 20px 10px 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.cardTitle {
  color: #474444;
  width: 200px;
  overflow: hidden;
  overflow-y: hidden;
  font-family: "Poppins";
  font-size: 23px;
  font-style: normal;
  height: 40px;
  font-weight: 600;
  margin: 0;
}

.views {
  margin-top: -2px;
  margin-right: 0px;
  padding-right: 0px;
  align-items: right;
  color: #555;
  color: #ff5d01;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.createdAt {
  color: #ff5d01;
  width: 200px;
  overflow: hidden;
  font-family: "Poppins";
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  margin: 0;
}

.rowContainer {
  display: flex;
  justify-content: space-between; /* Align items in a row with space between them */
}

.columnContainer {
  display: flex;
  flex-direction: column; /* Stack the items in a column */
  align-items: center; /* Center items horizontally in the column */
}
