.tableContainer {
  width: 100%;
  margin-top: -200px;
}

.quizTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: none;
}

h1 {
  font-size: 60px;
  color: #5076ff;
  text-align: center;
  font-family: "Poppins";
}
table th {
  color: white;
  font-family: "Poppins";
  padding: 10px;
  background-color: #5076ff;
}

table th:first-child,
td:first-child {
  border-radius: 10px 0 0 10px;
}

table td:last-child,
th:last-child {
  border-radius: 0 10px 10px 0;
}

.quizTable td {
  font-family: "Poppins";
  font-weight: 600;
  padding: 10px 30px 10px 30px;
}

.iconButton {
  cursor: pointer;
  margin-right: 10px;
}

.linkButton {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

table tr:nth-child(even) {
  background-color: #b3c4ff;
}
